.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background-color: wheat;
  display: flex;
}

.sidebar {
  background-color: rgb(241, 158, 48);
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.mainbar {
  background-color: rgb(137, 241, 228);
  width: 70%;
  height: 100vh;
  overflow: scroll;
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}

/* CSS From https://github.com/jrgrimshaw/notes-app-tutorial/blob/main/src/App.css  */

.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-ingd {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-items {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-items button {
  color: crimson;
}
.app-sidebar-items p {
  margin: 10px 0;
}
.app-sidebar-items small {
  display: block;
  color: #999;
}

.app-sidebar-items:hover {
  background: #ddd;
}
.app-sidebar-items.active,
.app-sidebar-items.active small {
  background: #08c;
  color: white;
}

.app-main {
  width: 70%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.item {
  background: white;
  display: flex;

  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
}
.item button,
.item a {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  cursor: pointer;
}
.item {
  padding: 1rem 2rem;
}
.item h4 {
  margin-bottom: 0;
}
.item p {
  margin-bottom: 0;
}

/* CSS From https://javascript.plainenglish.io/react-tesseract-ocr-tutorial-d72bb04b5094 */
.ocr-button {
  width: 6rem;
  height: 2rem;
  color: white;
  background-color: #3f4257;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.2s linear;
}

.ocr-button:hover {
  transform: scale(1.1);
}
